<!DOCTYPE html>
<html ng-app='meanApp' lang="">

<head>
    <meta charset="UTF-8">
    <title>Mean App</title>
    <meta name="Author" content="" />

    <link rel="stylesheet" href="/cssLib/material/angular-material.css">
    <link rel="stylesheet" href="/cssCustom/styles.css">


    <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.css">-->


    <style>
    </style>
</head>

<body>
   
  <md-toolbar md-scroll-shrink="true" md-shrink-speed-factor="0.25">
    <div class="md-toolbar-tools">
      <span>My App's Title</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button>
        Right Bar Button
      </md-button>
    </div>
  </md-toolbar>
       
  <md-content>
          <div style="height:1000px;background-color:red" ></div>
  </md-content>



</body>
<script type="text/javascript" src="/jsLib/angular/angular.js"></script>
<script type="text/javascript" src="/jsLib/angular/angular-resource.1.3.15.js"></script>
<script type="text/javascript" src="/jsLib/material/angular-animate.1.3.15.js"></script>
<script type="text/javascript" src="/jsLib/material/angular-aria.1.3.5.js"></script>
<script type="text/javascript" src="/jsLib/material/angular-material.0.11.0.js"></script>


<script type="text/javascript" src="/jsCustom/angular/directives.js"></script>
<script type="text/javascript" src="/jsCustom/angular/clientController.js"></script>
<script type="text/javascript" src="/jsCustom/angular/services.js"></script>
<script type="text/javascript" src="/jsCustom/angular/factories.js"></script>
<script type="text/javascript" src="/jsCustom/angular/filters.js"></script>

<script type="text/javascript" src="/jsCustom/angular/appConfig.js"></script>







<!-- <script src="  https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    -->

</html>
