<!DOCTYPE html>
<html ng-app='meanApp' lang="">

<head>
    <meta charset="UTF-8">
    <title>Mean App</title>
    <meta name="Author" content="" />

    <link rel="stylesheet" href="/cssLib/material/angular-material.css">
    <link rel="stylesheet" href="/cssCustom/styles.css">


    <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.css">-->


    <style>
    </style>
</head>

<body>
    <div ng-controller="meanController">

        <div>

            <!-- <md-toolbar style="margin-left:0.5%; width:99%" class="md-accent toolbar-border-radius" >
                <h2>
        <span>Mean App</span>
      </h2>
            </md-toolbar>-->
            <div layout="row" flex layout-align="center center" class="header-3">

                <div flex="20" flex-sm="0" ></div>
                <div flex="20" flex-sm="20" flex-md="20">
                    <span class="logo">CapitalTeam</span>
                    <img class="nodeImage" src="/images/nodeimages.jpg" />
                    <span class="tagLine">code for change</span>
                </div>
                <div flex="20" flex-sm="0">

                </div>

                <div align="right" flex="40" flex-sm="80" flex-md="80">
                    <ul class="menuList">
                        <li>Home</li>
                        <li>About us</li>
                        <li>Projects</li>
                        <li>Technologies</li>
                        <li>Login</li>
                        <li>Register</li>
                        

                    </ul>
                </div>

            </div>
            <div layout="row" layout-align="center center"  class="contentpane-1" flex>
                <div flex="20" flex-sm="0" flex-md="0">
                    
                </div>
                <div flex="40" class="contentpane-1-label" flex-sm="40" flex-md="40" >
                    
                        <label > &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Build APIS,</label><br>
                        <label >  Explore n Implement </label><br>
                        <label style="color:black"> &nbsp;&nbsp;&nbsp; Towards Change</label> <br>
                    
                </div>
                
                <div flex="40" flex-sm="60" flex-md="60">
                    <img class="computerImgs" src="/images/capitalDev.png">
                </div>
                
            
            </div>

            <!-- <md-toolbar style="margin-left:0.5%; width:99%" class="md-mediumtoolbar-border-radius" >
                <h2>
        <span>Mean App</span>
      </h2>
            </md-toolbar>-->


            <md-content class="md-padding">
                <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                    <md-tab label="one">
                        <md-content class="md-padding" layout="row" layout-margin layout-wrap>
                            <div flex="30"></div>
                            <md-card flex="40">
                                <md-card-content>
                                    <form ng-submit="loginFunc()">
                                        <md-input-container>
                                            <label>Title</label>
                                            <input ng-model="login.title">
                                        </md-input-container>
                                        <md-input-container>
                                            <label>Email</label>
                                            <input ng-model="login.email" type="email">
                                        </md-input-container>
                                        <md-button type="submit">Login</md-button>
                                    </form>
                                </md-card-content>
                            </md-card>
                            <div flex="30"></div>
                        </md-content>
                    </md-tab>
                    <md-tab label="two">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Register</h1>
                            <p>Register OCntent</p>
                        </md-content>
                    </md-tab>
                    <md-tab label="three">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Shop here</h1>
                            <p>Shop here</p>
                        </md-content>
                    </md-tab>
                </md-tabs>
                <md-content class="md-padding">
                    <md-card>
                        <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <h2 class="md-title">TEST -{{name}}</h2>
                            <p>
                                The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                            </p>
                        </md-card-content>
                        <div class="md-actions" layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </div>
                    </md-card>
                    <br/>
                    <md-card>
                        <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <h2 class="md-title">Paracosm</h2>
                            <p>
                                The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                            </p>
                        </md-card-content>
                    </md-card>
                    <br/>
                    <md-card>
                        <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <h2 class="md-title">Paracosm</h2>
                            <p>
                                The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                            </p>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-content>
        </div>

    </div>

</body>
<script type="text/javascript" src="/jsLib/angular/angular.js"></script>
<script type="text/javascript" src="/jsLib/angular/angular-resource.1.3.15.js"></script>
<script type="text/javascript" src="/jsLib/material/angular-animate.1.3.15.js"></script>
<script type="text/javascript" src="/jsLib/material/angular-aria.1.3.5.js"></script>
<script type="text/javascript" src="/jsLib/material/angular-material.0.11.0.js"></script>


<script type="text/javascript" src="/jsCustom/angular/directives.js"></script>
<script type="text/javascript" src="/jsCustom/angular/clientController.js"></script>
<script type="text/javascript" src="/jsCustom/angular/services.js"></script>
<script type="text/javascript" src="/jsCustom/angular/factories.js"></script>
<script type="text/javascript" src="/jsCustom/angular/filters.js"></script>

<script type="text/javascript" src="/jsCustom/angular/appConfig.js"></script>







<!-- <script src="  https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    -->

</html>
